In [3]:
import sqlite3
import pandas as pd

db_path = "basketball.sqlite"
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in database:")
print(tables)

team = pd.read_sql_query("SELECT * FROM Team;", conn)
print("\nTeam table:")
print(team.head())
print("\nTeam columns:")
print(team.columns)

team_attr = pd.read_sql_query("SELECT * FROM Team_Attributes;", conn)
print("\nTeam_Attributes table:")
print(team_attr.head())
print("\nTeam_Attributes columns:")
print(team_attr.columns)

query = """
SELECT *
FROM Team_Attributes
WHERE ID IN (
    SELECT id
    FROM Team
    WHERE state = 'New York'
);
"""
ny_team_attr = pd.read_sql_query(query, conn)

print("\nTeam_Attributes for teams in New York:")
print(ny_team_attr)

conn.close()

Tables in database:
                name
0    Team_Attributes
1      Player_Salary
2              Draft
3               Team
4  Player_Attributes
5             Player

Team table:
           id             full_name abbreviation   nickname         city  \
0  1610612737         Atlanta Hawks          ATL      Hawks      Atlanta
1  1610612738        Boston Celtics          BOS    Celtics       Boston
2  1610612739   Cleveland Cavaliers          CLE  Cavaliers    Cleveland
3  1610612740  New Orleans Pelicans          NOP   Pelicans  New Orleans
4  1610612741         Chicago Bulls          CHI      Bulls      Chicago

           state year_founded
0        Atlanta         1949
1  Massachusetts         1946
2           Ohio         1970
3      Louisiana         2002
4       Illinois         1966

Team columns:
Index(['id', 'full_name', 'abbreviation', 'nickname', 'city', 'state',
       'year_founded'],
      dtype='object')

Team_Attributes table:
           ID ABBREVIATION   NICKNAME YEARFOUNDED         CITY  \
0  1610612737          ATL      Hawks        1949      Atlanta
1  1610612738          BOS    Celtics        1946       Boston
2  1610612739          CLE  Cavaliers        1970    Cleveland
3  1610612740          NOP   Pelicans        2002  New Orleans
4  1610612741          CHI      Bulls        1966      Chicago

                        ARENA ARENACAPACITY            OWNER  \
0            State Farm Arena       18729.0     Tony Ressler
1                   TD Garden       18624.0    Wyc Grousbeck
2  Rocket Mortgage FieldHouse       20562.0      Dan Gilbert
3        Smoothie King Center                     Tom Benson
4               United Center       21711.0  Jerry Reinsdorf

       GENERALMANAGER       HEADCOACH DLEAGUEAFFILIATION  \
0      Travis Schlenk   Nate McMillan      Erie Bayhawks
1         Danny Ainge    Brad Stevens    Maine Red Claws
2         Koby Altman  JB Bickerstaff      Canton Charge
3      Trajan Langdon  Stan Van Gundy       No Affiliate
4  Arturas Karnisovas   Billy Donovan   Windy City Bulls

                    FACEBOOK_WEBSITE_LINK              INSTAGRAM_WEBSITE_LINK  \
0          https://www.facebook.com/hawks      https://instagram.com/atlhawks
1  https://www.facebook.com/bostonceltics       https://instagram.com/celtics
2           https://www.facebook.com/Cavs          https://instagram.com/cavs
3    https://www.facebook.com/PelicansNBA   https://instagram.com/pelicansnba
4   https://www.facebook.com/chicagobulls  https://instagram.com/chicagobulls

               TWITTER_WEBSITE_LINK
0      https://twitter.com/ATLHawks
1       https://twitter.com/celtics
2          https://twitter.com/cavs
3   https://twitter.com/PelicansNBA
4  https://twitter.com/chicagobulls

Team_Attributes columns:
Index(['ID', 'ABBREVIATION', 'NICKNAME', 'YEARFOUNDED', 'CITY', 'ARENA',
       'ARENACAPACITY', 'OWNER', 'GENERALMANAGER', 'HEADCOACH',
       'DLEAGUEAFFILIATION', 'FACEBOOK_WEBSITE_LINK', 'INSTAGRAM_WEBSITE_LINK',
       'TWITTER_WEBSITE_LINK'],
      dtype='object')

Team_Attributes for teams in New York:
           ID ABBREVIATION NICKNAME YEARFOUNDED      CITY  \
0  1610612751          BKN     Nets        1976  Brooklyn
1  1610612752          NYK   Knicks        1946  New York

                   ARENA ARENACAPACITY                      OWNER  \
0        Barclays Center                                 Joe Tsai
1  Madison Square Garden       19763.0  Cablevision (James Dolan)

  GENERALMANAGER      HEADCOACH  DLEAGUEAFFILIATION  \
0     Sean Marks     Steve Nash    Long Island Nets
1      Leon Rose  Tom Thibodeau  Westchester Knicks

                   FACEBOOK_WEBSITE_LINK              INSTAGRAM_WEBSITE_LINK  \
0  https://www.facebook.com/BrooklynNets  https://instagram.com/brooklynnets
1      https://www.facebook.com/NYKnicks      https://instagram.com/nyknicks

               TWITTER_WEBSITE_LINK
0  https://twitter.com/BrooklynNets
1      https://twitter.com/nyknicks