In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE Students (
    Student_ID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Email TEXT UNIQUE,
    Age INTEGER CHECK(Age >= 14),
    Class TEXT NOT NULL,
    Marks INTEGER DEFAULT 0
)
''')

students_data = [
    (1, 'Arnab', 'arnab@gmail.com', 15, '10', 85),
    (2, 'Sauda', None, 16, '10', 78),
    (3, 'Turjo', 'turjo@gmail.com', 15, '10', None),
    (4, 'Aniruddha Das Aurgha', 'aurgha@gmail.com', 15, '9', 88),
    (5, 'Farhan', None, 15, '9', 74),
    (6, 'Shuvo', 'shuvo@gmail.com', 16, '9', None)
]

cursor.executemany("INSERT INTO Students VALUES (?, ?, ?, ?, ?, ?)", students_data)
conn.commit()

print(pd.read_sql_query("SELECT * FROM Students", conn))
print(pd.read_sql_query("SELECT * FROM Students WHERE Email IS NULL", conn))
print(pd.read_sql_query("SELECT * FROM Students WHERE Marks IS NULL", conn))
print(pd.read_sql_query("SELECT COUNT(*) AS Null_Email_Count FROM Students WHERE Email IS NULL", conn))
print(pd.read_sql_query("SELECT AVG(Marks) AS Average_Marks FROM Students", conn))
print(pd.read_sql_query("SELECT Name, IFNULL(Marks, 0) AS Marks FROM Students", conn))
print(pd.read_sql_query("SELECT Name, Marks FROM Students WHERE Marks IS NOT NULL", conn))

conn.close()

   Student_ID                  Name             Email  Age Class  Marks
0           1                 Arnab   arnab@gmail.com   15    10   85.0
1           2                 Sauda              None   16    10   78.0
2           3                 Turjo   turjo@gmail.com   15    10    NaN
3           4  Aniruddha Das Aurgha  aurgha@gmail.com   15     9   88.0
4           5                Farhan              None   15     9   74.0
5           6                 Shuvo   shuvo@gmail.com   16     9    NaN
   Student_ID    Name Email  Age Class  Marks
0           2   Sauda  None   16    10     78
1           5  Farhan  None   15     9     74
   Student_ID   Name            Email  Age Class Marks
0           3  Turjo  turjo@gmail.com   15    10  None
1           6  Shuvo  shuvo@gmail.com   16     9  None
   Null_Email_Count
0                 2
   Average_Marks
0          81.25
                   Name  Marks
0                 Arnab     85
1                 Sauda     78
2                 Turjo      0
3  Aniruddha Das Aurgha     88
4                Farhan     74
5                 Shuvo      0
                   Name  Marks
0                 Arnab     85
1                 Sauda     78
2  Aniruddha Das Aurgha     88
3                Farhan     74