In [5]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(':memory:')
c = conn.cursor()

c.execute("CREATE TABLE employees (emp_id INT, name TEXT, dept_id INT)")
c.execute("CREATE TABLE departments (dept_id INT, dept_name TEXT)")

c.executemany("INSERT INTO employees VALUES (?,?,?)", [
    (1, 'Farhan', 101),
    (2, 'Shuvo', 102),
    (3, 'Aniruddha', None)
])

c.executemany("INSERT INTO departments VALUES (?,?)", [
    (101, 'Sales'),
    (102, 'Marketing'),
    (103, 'HR')
])

inner = pd.read_sql_query("""
SELECT employees.name, departments.dept_name
FROM employees
INNER JOIN departments
ON employees.dept_id = departments.dept_id
""", conn)

left = pd.read_sql_query("""
SELECT employees.name, departments.dept_name
FROM employees
LEFT JOIN departments
ON employees.dept_id = departments.dept_id
""", conn)

# Simulate RIGHT JOIN using LEFT JOIN by swapping tables
right = pd.read_sql_query("""
SELECT employees.name, departments.dept_name
FROM departments
LEFT JOIN employees
ON employees.dept_id = departments.dept_id
""", conn)

# FULL OUTER JOIN is not supported in SQLite via read_sql_query
# It will be simulated using pandas merge below.

print("INNER JOIN")
print(inner)
print("\nLEFT JOIN")
print(left)
print("\nRIGHT JOIN (simulated with LEFT JOIN)")
print(right)
print("\nFULL OUTER JOIN (simulated with pandas.merge)")
# The original 'full' variable was attempting to use FULL OUTER JOIN directly, which fails.
# We will rely on the existing 'full_outer' merge for the simulation.
full_outer = pd.merge(left, right, how='outer')
print(full_outer)

conn.close()

INNER JOIN
     name  dept_name
0  Farhan      Sales
1   Shuvo  Marketing

LEFT JOIN
        name  dept_name
0     Farhan      Sales
1      Shuvo  Marketing
2  Aniruddha       None

RIGHT JOIN (simulated with LEFT JOIN)
     name  dept_name
0  Farhan      Sales
1   Shuvo  Marketing
2    None         HR

FULL OUTER JOIN (simulated with pandas.merge)
        name  dept_name
0  Aniruddha       None
1     Farhan      Sales
2      Shuvo  Marketing
3       None         HR